
#top {
    position: relative;
    background-color: yellowgreen;
    color: white;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    height: 95px;
    box-shadow: 0px 3px 3px #000000; 
}

#bottom {
    position: relative;
    background-color: yellowgreen;
    padding: 0px;
    margin: 1px 0px 0px 0px;
    height: 80px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding-top: 5px;
    width: 10%;
    height: 100px;
}

#right {
    float: right;
    background-color: cadetblue;
    padding: 0px;
    width: 150px;
    height: 400px;
}

.center_content {
    position: relative;
    background-color: cadetblue;
    padding: 0px;
    height: 500px;
}

.left_content {
    background-color: cadetblue;
    padding: 0px;
    margin-left: 10%;
    height: 500px;
}

.right_content {
    background-color: cadetblue;
    padding: 0px;
    margin: 0px 170px 0px 170px;
    height: 500px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


